<div class="container" style="text-align: center;">

  <h2 class="h1 pt-4">Survey Maker 1.0</h2>
  <p class="pb-4">With the help of Survey maker you can make your own surveys and share it with everyone in matter of
    minutes and 3 simple steps</p>
  <div class="row">
    <div class="col-md-12">
      <ul class="stepper stepper-horizontal">
        <li class="completed">
          <a>
            <span class="circle">1</span>
            <span class="label">Enter a Title for your Survey</span>
          </a>
        </li>
        <li class="active">
          <a>
            <span class="circle">2</span>
            <span class="label">Add your questions</span>
          </a>
        </li>
        <li class="active">
          <a>
            <span class="circle">3</span>
            <span class="label">Save and Share your Survey</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="md-form" style="display: inline-block;width: 50%;font-weight: 700;color: blue;">

    <input mdbInput placeholder="Test Survey" type="text" id="form58" class="form-control" style="font-size: 28px;"
      [(ngModel)]="surveyName">
    <label for="form58">Survey Title</label>


  </div>
  <div>
    <h1 class="h2 pt-4">Question List</h1>
    <table mdbTable>
      <thead>
        <tr>
          <th scope="col">Question Number</th>
          <th scope="col">Question Title</th>
          <th scope="col">Question Type</th>
          <th scope="col">Answers</th>
          <th scope="col">Delete Question</th>
          <th scope="col">Edit Question</th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let q of qList;index as i">
          <th scope="row">{{i+1}}</th>
          <td scope="row">{{q.qTitle}}</td>
          <td scope="row">{{q.qType}}</td>
          <td scope="row">
            <li *ngFor="let answer of q.answerList">
              {{answer.answerTitle}}
            </li>
          </td>
          <td><button style="background-color: red;color: white;" (click)="removeQuestion(i)">X</button></td>
          <td scope="row"><button style="background-color:coral;color: white;" (click)="editQuestion(i)">Edit</button>
          </td>
        </tr>

      </tbody>
    </table>
    <button type="button" mdbBtn color="default" rounded="true" (click)="frame.show()" mdbWavesEffect>Add Question
    </button>
    <button type="button" mdbBtn color="default" rounded="true" (click)="saveSurvey()" mdbWavesEffect>Save Survey
    </button>
  </div>

</div>


<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">New Question</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="md-form mb-5">
          <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
          <input type="text" id="form3" class="form-control" mdbInput [(ngModel)]="qTitle">
          <label for="form3">Question Title</label>

        </div>
        <div class="form-check form-check-inline">
          <input type="radio" checked class="form-check-input" id="Single" name="inlineMaterialRadiosExample" mdbInput
            (click)="changeisMultiple('single')">
          <label class="form-check-label" for="Single">Single Choice</label>
        </div>

        <div class="form-check form-check-inline" style="text-align: end;">
          <input type="radio" class="form-check-input" id="Multiple" name="inlineMaterialRadiosExample" mdbInput
            (click)="changeisMultiple('multiple')">
          <label class="form-check-label" for="Multiple">Multiple Choice</label>
        </div>


        <div class="md-form" *ngFor="let a of answerList;index as i">
          <mdb-icon fas icon="times" class="prefix red-text" (click)="removeAnswerPlace(i)"></mdb-icon>
          <input type="text" class="form-control" [(ngModel)]="answerList[i].answerTitle" mdbInput>
          <label>Answer {{i+1}}</label>


        </div>


        <a type="button" mdbBtn color="warning" outline="true" class="waves-effect" mdbWavesEffect
          (click)="addAnswerPlace()">Add Answer
          <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
        </a>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">

        <a type="button" mdbBtn color="warning" outline="true" class="waves-effect" mdbWavesEffect
          (click)="saveQuestion()">Save Question
          <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
        </a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
