<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color" [containerInside]="false">

  <mdb-navbar-brand><a class="navbar-brand" href="#">Survey4All</a></mdb-navbar-brand>

  <links>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="/login">
          <mdb-icon fas icon="sign-in-alt"></mdb-icon> Login
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link waves-light" href="./register" mdbWavesEffect>
          <mdb-icon fas icon="user-plus"></mdb-icon>Sign up<span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link waves-light" href="./contact" mdbWavesEffect>
          <mdb-icon fas icon="envelope"></mdb-icon> Contact Us<span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>
          <mdb-icon fas icon="poll"></mdb-icon> Browse Surveys
        </a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="./profile">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
        </div>
      </li>
    </ul>

  </links>
</mdb-navbar>
