<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color" [containerInside]="false">

  <mdb-navbar-brand><a class="navbar-brand" href="">Survey4All</a></mdb-navbar-brand>

  <links>

    <ul class="navbar-nav ml-auto">


      <li class="nav-item ">
        <a class="nav-link waves-light" (click)="goContact()" mdbWavesEffect>
          <mdb-icon fas icon="envelope"></mdb-icon> Contact Us
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" (click)="goBrowse()" mdbWavesEffect>
          <mdb-icon fas icon="poll"></mdb-icon>Browse Surveys
        </a>
      </li>
      <li class="nav-item" *ngIf="!authService.navLoggedIn">
        <a class="nav-link waves-light" (click)="goSignUp()" mdbWavesEffect>
          <mdb-icon fas icon="user-plus"></mdb-icon>Sign up
        </a>
      </li>
      <li class="nav-item" *ngIf="!authService.navLoggedIn">
        <a class="nav-link waves-light" mdbWavesEffect (click)="goLogin()">
          <mdb-icon fas icon="sign-in-alt"></mdb-icon>Login
        </a>
      </li>

      <div *ngIf="authService.navLoggedIn">
        <li class="nav-item" *ngIf="authService.curUserType == 'admin'">
          <a class="nav-link waves-light" mdbWavesEffect (click)="goLogin()">
            <mdb-icon fas icon="sign-in-alt"></mdb-icon>Admin Panel
          </a>
        </li>
      </div>
      <li class="nav-item dropdown" dropdown *ngIf="authService.navLoggedIn">
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> {{authService.curUser}}<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="goProfile()">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Log out</a>
        </div>
      </li>
    </ul>

  </links>

</mdb-navbar>
