<!-- Main navigation -->
<header>

  <!-- Navbar -->
  <!-- Full Page Intro -->
  <div class="view">
    <!-- Mask & flexbox options-->
    <div class=" d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row pt-lg-5 mt-lg-5">
          <!--Grid column-->
          <div class="col-md-6 mb-5 mt-md-0 mt-5 black-text text-center text-md-left wow fadeInLeft"
            data-wow-delay="0.3s">
            <h1 class="display-4 font-weight-bold">Survey 4 All</h1>
            <hr class="hr-dark">
            <h6 class="mb-3">You can participate or share any surveys you want because we are Survey4All! If you want to
              create a survey, you must be logged in first</h6>
            <a mdbBtn color="elegant" outline="true" mdbWavesEffect>Learn more</a>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mb-4">
            <!--Form-->
            <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
              <mdb-card-body class="z-depth-2">
                <!--Header-->
                <div class="modal-header text-center">
                  <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel">
                    <strong>Log in</strong>
                  </h3>

                </div>
                <!--Body-->
                <div class="modal-body mx-4">
                  <!--Body-->
                  <div class="md-form mb-5">
                    <input type="email" [(ngModel)]="email" class="form-control" mdbInput mdbValidate>
                    <label for="Form-email1">Your email</label>
                  </div>
                  <div class="md-form pb-3">
                    <input type="password" [(ngModel)]="password" class="form-control" mdbInput mdbValidate>
                    <label for="Form-pass1">Your password</label>

                    <p class="font-small blue-text d-flex justify-content-end">Forgot
                      <a rclass="blue-text ml-1"> Password?</a>
                    </p>
                  </div>

                  <div class="text-center mb-3">
                    <p class="font-small dark-grey-text d-flex justify-content-center">To create an account
                      <a class="blue-text ml-1" routerLink="/register" routerLinkActive="active"> Click</a>
                    </p>
                    <button (click)="login(email,password)" type="button" mdbBtn gradient="purple" block="true"
                      rounded="true" class="z-depth-1a waves-light" mdbWavesEffect>Sign in
                    </button>
                  </div>
                  <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in
                    with:</p>

                  <div class="row my-3 d-flex justify-content-center">
                    <!--Facebook-->
                    <button type="button" class="btn btn-fb" style="background-color:#3b5998 ;color: white;"><i
                        class="fab fa-facebook-f pr-1"></i> Facebook</button>

                    <!--Google +-->
                    <button type="button" class="btn btn-gplus" style="background-color:#DD4B39 ;color: white;"><i
                        class="fab fa-google-plus-g pr-1"></i> Google</button>
                  </div>
                </div>

              </mdb-card-body>
            </mdb-card>
            <!--/.Form-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
</header>
<!-- Main navigation -->
