<div class="container">
    <div class="row">
            <div class="md-form active-purple active-purple-2 mb-3">
                    <input class="form-control" type="search" id="search2" aria-label="Search" mdbInput>
                    <label for="search2">Search</label>
                </div>
                <button style="padding: 4px;" class="btn btn-secondary"type="button" mdbBtn mdbWavesEffect (click)="goResults()">Search</button>
            </div>   
   
    <section class="magazine-section my-5">
        <h2 class="h1-responsive font-weight-bold text-center my-5">Browse Surveys</h2>
                <p class="text-center w-responsive mx-auto mb-5">You can choose a topic, search a survey or just browse 'em all!
        </p>
        <div class="row">
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-5">
                <div class="single-news mb-3">
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/86.jpg"
                            alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                        </a>
                    </div>

                    <!-- Grid row -->
                    <div class="row mb-3">

                        <!-- Grid column -->
                        <div class="col-12">

                            <!-- Badge -->
                            <a href="#!">
                                <mdb-badge color="pink">
                                    <mdb-icon fas icon="camera" class="pr-2" aria-hidden="true"></mdb-icon>Completed
                                    Surveys
                                </mdb-badge>
                            </a>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                            <a class="font-weight-bold">This is title of the news</a>
                        </div>
                        <a>
                            <mdb-icon fas icon="angle-double-right"></mdb-icon>
                        </a>
                    </div>

                </div>
                <!-- Featured news -->

                <!-- Small news -->
                <div class="single-news mb-3">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                            <a>24 Food Swaps That Slash Calories.</a>
                        </div>
                        <a>
                            <mdb-icon fas icon="angle-double-right"></mdb-icon>
                        </a>
                    </div>

                </div>
                <!-- Small news -->

                <!-- Small news -->
                <div class="single-news mb-3">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                            <a>How to Make a Beet Cocktail?</a>
                        </div>
                        <a>
                            <mdb-icon fas icon="angle-double-right"></mdb-icon>
                        </a>
                    </div>

                </div>
                <!-- Small news -->

                <!-- Small news -->
                <div class="single-news mb-3">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                            <a>8 Sneaky Reasons You're Always Hungry.</a>
                        </div>
                        <a>
                            <mdb-icon fas icon="angle-double-right"></mdb-icon>
                        </a>
                    </div>

                </div>
                <!-- Small news -->

                <!-- Small news -->
                <div class="single-news">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0">
                            <a>5 Pressure Cooker Recipes You Need to Try.</a>
                        </div>
                        <a>
                            <mdb-icon fas icon="angle-double-right"></mdb-icon>
                        </a>
                    </div>

                </div>
                <!-- Small news -->

            </div>
    <div class="col-lg-4 col-md-6 mb-md-0 mb-5">
                <div class="single-news mb-3">
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/31.jpg"
                            alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                        </a>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <a href="#!">
                                <mdb-badge color="deep-orange">
                                    <mdb-icon fas icon="plane" class="pr-2" aria-hidden="true"></mdb-icon>Recently Added
                                </mdb-badge>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                            <a class="font-weight-bold">This is title of the news</a>
                        </div>
                        <a>
                            <mdb-icon fas icon="angle-double-right"></mdb-icon>
                        </a>
                    </div>
                </div>
                <div class="single-news mb-3">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                            <a>Trends in the blogosphere for 2016.</a>
                        </div>
                        <a>
                            <mdb-icon fas icon="angle-double-right"></mdb-icon>
                        </a>
                    </div>

                </div>
                <div class="single-news mb-3">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                            <a>Where you eat the best lunch in Warsaw?</a>
                        </div>
                        <a>
                            <mdb-icon fas icon="angle-double-right"></mdb-icon>
                        </a>
                    </div>

                </div>
                <div class="single-news mb-3">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                            <a>What camera take for holidays?</a>
                        </div>
                        <a>
                            <mdb-icon fas icon="angle-double-right"></mdb-icon>
                        </a>
                    </div>

                </div>
                <div class="single-news">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0">
                            <a>Why you should visit Lisbon?</a>
                        </div>
                        <a>
                            <mdb-icon fas icon="angle-double-right"></mdb-icon>
                        </a>
                    </div>

                </div>
                <!-- Small news -->

            </div>
    <div class="col-lg-4 col-md-6 mb-0">

                <!-- Featured news -->
                <div class="single-news mb-3">

                    <!-- Image -->
                    <div class="view overlay rounded z-depth-2 mb-4">
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/52.jpg"
                            alt="Sample image">
                        <a>
                            <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                        </a>
                    </div>

                    <!-- Grid row -->
                    <div class="row mb-3">

                        <!-- Grid column -->
                        <div class="col-12">

                            <!-- Badge -->
                            <a href="#!">
                                <mdb-badge success="true">
                                    <mdb-icon fas icon="plane" class="pr-2" aria-hidden="true"></mdb-icon>Surveys
                                    Expiring Soon
                                </mdb-badge>
                            </a>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                            <a class="font-weight-bold">This is title of the news</a>
                        </div>
                        <a>
                            <mdb-icon fas icon="angle-double-right"></mdb-icon>
                        </a>
                    </div>

                </div>
                <!-- Featured news -->

                <!-- Small news -->
                <div class="single-news mb-3">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                            <a>How to recognize the footsteps of wild animals?</a>
                        </div>
                        <a>
                            <mdb-icon fas icon="angle-double-right"></mdb-icon>
                        </a>
                    </div>

                </div>
                <!-- Small news -->

                <!-- Small news -->
                <div class="single-news mb-3">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                            <a>National Parks in Poland.</a>
                        </div>
                        <a>
                            <mdb-icon fas icon="angle-double-right"></mdb-icon>
                        </a>
                    </div>

                </div>
                <!-- Small news -->

                <!-- Small news -->
                <div class="single-news mb-3">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                            <a>Traveling without littering the planet.</a>
                        </div>
                        <a>
                            <mdb-icon fas icon="angle-double-right"></mdb-icon>
                        </a>
                    </div>

                </div>
                <!-- Small news -->

                <!-- Small news -->
                <div class="single-news">

                    <!-- Title -->
                    <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0">
                            <a>How to protect rainforests?</a>
                        </div>
                        <a>
                            <mdb-icon fas icon="angle-double-right"></mdb-icon>
                        </a>
                    </div>

                </div>
                <!-- Small news -->

            </div>
        </div>  
    </section>
</div>