<!-- Section: Blog v.3 -->
<section class="my-5">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">My Profile</h2>
  <!-- Section description -->
  <hr class="my-5">
  <!-- Grid row -->
  <div class="row">
    <div style="margin: auto;">
      <div style="border-radius: 100%;">
        <div class="avatar mx-auto">
          <img src="{{photoUrl}}" class="rounded-circle z-depth-1">
        </div>
        <p class="text-uppercase blue-text">
          <strong>ANOTHER TEXT HERE</strong>
        </p>
        <p>Name: <a class="font-weight-bold">{{name}}</a></p>
        <p>Email: <a class="font-weight-bold">{{email}}</a></p>
        <p>Phone: <a class="font-weight-bold">{{phone}}</a></p>
        <a mdbBtn color="primary" mdbWavesEffect>Show My Surveys</a>
        <a href="/editprofile" mdbBtn color="primary" mdbWavesEffect>Edit Profile</a>
        <a href="/view-survey" mdbBtn color="primary" mdbWavesEffect>loading</a>
      </div>
    </div>

  </div>

</section>
