
<div class="container my-5 py-5 z-depth-1">
    
<section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    
        <div class="row d-flex justify-content-center">
        
<div class="col-md-8">
        
    <!-- Default form Edit Profile -->
    <form class="text-center" action="#!">
        
      <p class="h4 mb-4">Edit Profile</p>
      
      <a >
        <img src="{{photoUrl}}"   width=140 height=150
        class="rounded float-center" alt="Profile Photo">
    </a>
      
     
      
      
      <div class="form-row mb-4">
        <div class="col">
          <!-- First name -->
          <div class="md-form">
              <input type="text" name="name" [(ngModel)]="name" id="name" class="form-control" >
              
            </div>
          </div>
        <div class="col">
          <!-- Last name -->
          <div class="md-form">
            <input type="text" name="surname" [(ngModel)]="surname" id="surname" class="form-control" >
            
          </div>
        </div>
      
      </div>
    

      <!-- E-mail -->
      <div class="md-form" >
       <strong>{{email}}</strong> 
        
      </div>
      <div class="md-form">
        <input type="text" name="phone" [(ngModel)]="phone" id="phone" class="form-control" >
        
      </div>
     
      <div class="center" >
      
            <a  (click)=resetPassword(email) style="color:indigo;" >
           <strong>Reset Password</strong>
        </a>
      </div>
      <div *ngIf="currentUpload">
        <div class="progress">
          <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
        </div>
        Progress:  | {{currentUpload?.progress}}% Complete
      </div>
      <div style="margin: 50px;"><label>
             <input type="file" (change)="detectFiles($event)">
          </label>
      
          <button
                  [disabled]="!selectedFiles"
                  (click)="uploadSingle()"
                  
                  >
                  
            Upload 
          </button></div>
          
        
      
      

      <!-- Save button -->

      <button type="button" mdbBtn color="primary" rounded="true" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect>Launch Modal</button>
      <div class="md-form">
      <button *ngIf="submitClick" mdbBtn gradient="purple" block="true" rounded="true" type="submit" class="z-depth-1a waves-light"
        mdbWavesEffect  (click)="frame.show()">Save
      </button>
      <div *ngIf="!submitClick" class="alert alert-success" role="alert" disabled="true">
            You Saved Your Information :)
          </div>
      </div>
    <!-- Save butonuna bastığımızda çıkacak yer-->
<div mdbModal  #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" (open)="onOpen($event)">
  <div class="modal-dialog modal-notify" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div style="background-color:rgb(128, 46, 187);" class="modal-header">
        <p class="heading lead">Are You Sure ?</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div  class="modal-body">
        <div class="text-center">
          <mdb-icon style="color:rgb(128, 46, 187)" fas icon="save" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>Are you want to save information ?</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn  style="background-color:rgb(128, 46, 187)"  class="waves-light" mdbWavesEffect (click)="frame.hide()" (click)=update(name,surname,email,phone)>Save
          
        </a>
        <a type="button"  style="color:rgb(128, 46, 187)" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()"
          data-dismiss="modal">No, thanks</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
      

      <!-- Terms of service -->


    </form>
    

  </div>
        </div>
</section>
    
</div>
